.details-part {
    width: 200px;
}

.menu-option {
    width: 125px;
    text-align: left;
}

.container {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 0px;
    background-color: aqua;
}

.display-blog-content {
    margin: 0px;
    padding-left: 20px;
}

.button {
    height: 25px;
    margin-left: 200px;
    margin-bottom: 15px;
}

.add-Category-Button {
    width: 100px;
    height: 25px;
}

.input {
    height: 30px;
    padding-left: 0px;
    padding-right: 30px;
}